<h4 class="ui inverted red block header">
	Acesse sua conta
</h4>

<% if flash.present? %>
	<div class="ui tertiary inverted green segment">
		<% flash.each do |name, msg| -%>
			<%= content_tag :div, msg, class: name %>
		<% end -%>
	</div>
<% end %>

<div class="ui">
	<div class="column">
		<form method="post" action="<%= sessions_path %>">
			<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
			<div class="ui fluid form segment">
				<h3 class="ui header">Faça o Login</h3>
				<div class="field">
					<label>E-mail</label>
					<input placeholder="E-mail" type="text" name="user[email]" />
				</div>
				<div class="field">
					<label>Senha</label>
					<input type="password" placeholder="Senha" name="user[password]" />
				</div>
				<input type="submit" class="ui blue submit button" value="Entrar" />
			</div>
		</form>
	</div>
	<br />
	Ainda não tem cadastro?
	<a href="<%= new_registration_path %>" class="ui teal button">Cadastre-se</a>
</div>