<div class="ui grid overflowhidden">
	<div class="wide displayblock floatleft three column">
		<%= render 'shared/sidebar' %>
	</div>
	
	<div class="wide twelve floatrigth column">
		<div class="ui segment green">
			<b>Column One</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum iaculis sapien.
		</div>
	</div>
</div>


